*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{

background:#0a0a0a;
color:white;
padding:40px;

}

/* NAVBAR */

nav{

display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:40px;

}

nav ul{

display:flex;
list-style:none;

}

nav ul li{

margin-left:25px;

}

nav a{

text-decoration:none;
color:white;
transition:0.3s;

}

nav a:hover{

color:#ff2e88;

}

.logo{

color:#ff2e88;

}

/* WHITE CARDS */

.card{

background:white;

color:#333;

border-radius:35px;

padding:40px;

margin-bottom:40px;

box-shadow:

0 15px 40px rgba(0,0,0,0.6);

transition:0.3s;

}

.card:hover{

transform:translateY(-6px);

}

/* HERO */

.hero{

text-align:center;

}

.hero span{

color:#ff2e88;

}

.role{

color:#666;
margin-top:10px;

}

/* SKILLS */

.skills{

display:flex;
gap:30px;
flex-wrap:wrap;
margin-top:20px;

}

.skillbox{

background:#fafafa;

padding:20px;

border-radius:25px;

flex:1;

min-width:200px;

box-shadow:

0 5px 15px rgba(0,0,0,0.1);

transition:0.3s;

}

.skillbox:hover{

transform:scale(1.05);

}

.skillbox h3{

color:#ff2e88;
margin-bottom:10px;

}

/* PROJECT */

.project{

background:#fafafa;

padding:25px;

border-radius:25px;

box-shadow:

0 5px 15px rgba(0,0,0,0.1);

}

.tech{

color:#ff2e88;
margin-top:10px;

}

/* CONTACT */

#contact a{

color:#ff2e88;

}

/* FOOTER */

footer{

text-align:center;
margin-top:40px;
color:#aaa;

}

/* RESPONSIVE */

@media(max-width:768px){

.skills{

flex-direction:column;

}

nav{

flex-direction:column;
gap:10px;

}

}

.connect{
text-align:center;
}

.social-buttons{
display:flex;
justify-content:center;
gap:25px;
margin-top:20px;
}

.social-btn{

width:60px;
height:60px;

background:#8b5cf6;

border-radius:50%;

display:flex;
align-items:center;
justify-content:center;

color:white;

font-size:24px;

text-decoration:none;

transition:0.3s;

box-shadow:0 8px 20px rgba(0,0,0,0.3);
}

.social-btn:hover{

transform:translateY(-5px) scale(1.1);

background:#a855f7;

}